#Para que ignore los ficheros de toma de notas de clase.
*apuntes.md
#Para que ignore los pdfs que nos suministra el profesor
*.pdf
/Practica1/RecordatorioJava/nbproject/private/
/Practica1/RecordatorioJava/build/
/Practica1/Practica2/nbproject/private/
/Practica1/Practica2/build/
/Practica3(Eventos)/Practica3(Eventos)/nbproject/private/
/Practica3(Eventos)/Practica3(Eventos)/build/
/Practica3(Eventos)/Practica4/nbproject/private/
/Practica3(Eventos)/Practica4/build/
/Practica3(Eventos)/pruebaMap/nbproject/private/
/Practica3(Eventos)/pruebaMap/build
/Practica3(Eventos)/ClientePuntuaciones/nbproject/private/
/Practica3(Eventos)/ClientePuntuaciones/build/
/Practica5/Practica5/nbproject/private/
/Practica5/Practica5/build/
/Practica1(IntroduccionJava)/XML/nbproject/private/
/Practica1(IntroduccionJava)/XML/build/
/Practica1(IntroduccionJava)/SM.JAF.Biblioteca/nbproject/private/
/SM.JAF.Biblioteca/nbproject/private/
/SM.JAF.Biblioteca/build/
/SM.JAF.Biblioteca/dist/
/Practica7(EjercicioEvaluacionBPaintBasico2D)/Practica7/dist/
/sm.jaf.biblioteca/nbproject/private/
/sm.jaf.biblioteca/build/
/sm.jaf.biblioteca/dist/
/Practica8 (Image2D)/Practica8/dist/
/Practica3(Eventos)/ClientePuntuaciones/dist/
/Practica9 (Procesamiento Imágenes)/Practica9/build/
/Practica9 (Procesamiento Imágenes)/Practica9/dist/
/PruebaFunciones/nbproject/private/
/PruebaFunciones/build/
/Practica10(ProcesamentoImágenes2)/Practica10/nbproject/private/
/Practica10(ProcesamentoImágenes2)/Practica10/build/
/Practica10(ProcesamentoImágenes2)/Practica10/dist/Practica3\(Eventos\)/
/Practica11/Practica11/nbproject/private/
/Practica11/Practica11/build/
/Practica11/Practica11/dist/
/Practica11/Practica12/nbproject/private/
/Practica11/Practica12/build/
/Practica11/Practica12/dist/
/AlgoritmosBrainStudio/nbproject/private/
/AlgoritmosBrainStudio/build/
/Practica13/Practica13/nbproject/private/
/Practica13/Practica13/build/
/Practica13/Practica13/dist/
/Nueva Carpeta/OpenMOJ/nbproject/private/
/Nueva Carpeta/OpenMOJ/build/
/Nueva Carpeta/OpenMOJ/dist/
/PruebasMAtrices/nbproject/private/
/PruebasMAtrices/build/